# Practical Exam: Supermarket Loyalty

International Essentials is an international supermarket chain.

Shoppers at their supermarkets can sign up for a loyalty program that provides rewards each year to customers based on their spending. The more you spend the bigger the rewards. 

The supermarket would like to be able to predict the likely amount customers in the program will spend, so they can estimate the cost of the rewards. 

This will help them to predict the likely profit at the end of the year.

## Data

The dataset contains records of customers for their last full year of the loyalty program.

| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
|customer_id | Unique identifier for the customer. </br>Missing values are not possible due to the database structure. |
|spend | Continuous. </br>The total spend of the customer in their last full year. This can be any positive value to two decimal places. </br>Missing values should be replaced with 0. |
|first_month | Continuous. </br>The amount spent by the customer in their first month of the year. This can be any positive value, rounded to two decimal places. </br>Missing values should be replaced with 0. |
| items_in_first_month | Discrete. </br>The number of items purchased in the first month. Any integer value greater than or equal to zero. </br>Missing values should be replaced by 0. |  
| region | Nominal. </br>The geographic region that the customer is based in. One of four values Americas, Asia/Pacific, Europe, Middle East/Africa. </br>Missing values should be replaced with "Unknown". |
| loyalty_years | Oridinal. </br>The number of years the customer has been a part of the loyalty program. One of five ordered categories, '0-1', '1-3', '3-5', '5-10', '10+'. </br>Missing values should be replaced with '0-1'.|
| joining_month | Nominal. </br>The month the customer joined the loyalty program. One of 12 values "Jan", "Feb", "Mar", "Apr", etc. </br>Missing values should be replaced with "Unknown".|
| promotion | Nominal. </br>Did the customer join the loyalty program as part of a promotion? Either 'Yes' or 'No'. </br>Missing values should be replaced with 'No'.|

# Task 1

Before you fit any models, you will need to make sure the data is clean. 

The table below shows what the data should look like. 

Create a cleaned version of the dataframe. 

 - You should start with the data in the file "loyalty.csv". 

 - Your output should be a dataframe named `clean_data`. 

 - All column names and values should match the table below.

| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
|customer_id | Unique identifier for the customer. </br>Missing values are not possible due to the database structure. |
|spend | Continuous. </br>The total spend of the customer in their last full year. This can be any positive value to two decimal places. </br>Missing values should be replaced with 0. |
|first_month | Continuous. </br>The amount spent by the customer in their first month of the year. This can be any positive value, rounded to two decimal places. </br>Missing values should be replaced with 0. |
| items_in_first_month | Discrete. </br>The number of items purchased in the first month. Any integer value greater than or equal to zero. </br>Missing values should be replaced by 0. |  
| region | Nominal. </br>The geographic region that the customer is based in. One of four values Americas, Asia/Pacific, Europe, Middle East/Africa. </br>Missing values should be replaced with "Unknown". |
| loyalty_years | Oridinal. </br>The number of years the customer has been a part of the loyalty program. One of five ordered categories, '0-1', '1-3', '3-5', '5-10', '10+'. </br>Missing values should be replaced with '0-1'.|
| joining_month | Nominal. </br>The month the customer joined the loyalty program. One of 12 values "Jan", "Feb", "Mar", "Apr", etc. </br>Missing values should be replaced with "Unknown".|
| promotion | Nominal. </br>Did the customer join the loyalty program as part of a promotion? Either 'Yes' or 'No'. </br>Missing values should be replaced with 'No'.|

In [180]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np


df = pd.read_csv("loyalty.csv")
df.head()

   customer_id   spend first_month  ...  loyalty_years joining_month promotion
0            1  132.68        15.3  ...           5-10           Nov        No
1            2  106.45        16.2  ...            0-1           Feb       Yes
2            3  123.16       25.26  ...            10+           Dec       Yes
3            4  130.60       24.74  ...            3-5           Apr        No
4            5  130.41       25.59  ...            3-5           Apr       Yes

[5 rows x 8 columns]

In [181]:
# take a look at the data summary information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1246 entries, 0 to 1245
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customer_id           1246 non-null   int64
 1   spend                 1246 non-null   float64
 2   first_month           1246 non-null   object
 3   items_in_first_month  1246 non-null   int64
 4   region                1246 non-null   object
 5   loyalty_years         1246 non-null   object
 6   joining_month         1121 non-null   object
 7   promotion             1246 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 78.0+ KB

In [182]:
# check for all missing values
df.isna().sum()

customer_id               0
spend                     0
first_month               0
items_in_first_month      0
region                    0
loyalty_years             0
joining_month           125
promotion                 0
dtype: int64

In [183]:
# check for duplication in customer_id
df["customer_id"].duplicated().sum()

0

In [184]:
# replace any negative with 0, close to two decimal places
df["spend"] = np.where(df["spend"] < 0, 0, df["spend"])
df["spend"] = df["spend"].round(2)

In [185]:
# replace any negative with 0, close to two decimal places
df["first_month"] = pd.to_numeric(df["first_month"], errors='coerce')
df["first_month"] = np.where(df["first_month"] < 0, 0, df["first_month"])
df["first_month"] = df["first_month"].round(2)
df["first_month"] = df["first_month"].fillna(0)

In [186]:
df["items_in_first_month"] = np.where(df["items_in_first_month"] < 0, 0, df["items_in_first_month"])
df["items_in_first_month"] = df["items_in_first_month"].fillna(0)

In [187]:
df["region"] = df["region"].fillna("Unknown")
df["region"].value_counts()

Middle East/Africa    326
Europe                320
Americas              309
Asia/Pacific          291
Name: region, dtype: int64

In [188]:
df["loyalty_years"] = df["loyalty_years"].fillna("0-1")
df['loyalty_years'].value_counts()

0-1     382
3-5     256
5-10    250
1-3     241
10+     117
Name: loyalty_years, dtype: int64

In [189]:
df["joining_month"] = df["joining_month"].fillna("Unknown")
df["joining_month"].value_counts()

Jan        146
Unknown    125
Jul        111
Feb        109
Oct        107
May         96
Apr         93
Aug         91
Sep         88
Mar         85
Nov         75
Jun         75
Dec         45
Name: joining_month, dtype: int64

In [190]:
df["promotion"] = df["promotion"].str.upper().str.strip()
promotion_dict = {"YES":"Yes", "NO":"No"}
df["promotion"] = df["promotion"].map(promotion_dict)
df["promotion"] = df["promotion"].fillna("No")
df["promotion"].value_counts()

No     635
Yes    611
Name: promotion, dtype: int64

In [191]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1246 entries, 0 to 1245
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customer_id           1246 non-null   int64
 1   spend                 1246 non-null   float64
 2   first_month           1246 non-null   float64
 3   items_in_first_month  1246 non-null   int64
 4   region                1246 non-null   object
 5   loyalty_years         1246 non-null   object
 6   joining_month         1246 non-null   object
 7   promotion             1246 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 78.0+ KB

In [192]:
# check for all missing values
df.isna().sum()

customer_id             0
spend                   0
first_month             0
items_in_first_month    0
region                  0
loyalty_years           0
joining_month           0
promotion               0
dtype: int64

In [193]:
# Use this cell to write your code for Task 1
clean_data = df
clean_data.head(10)

   customer_id   spend  first_month  ...  loyalty_years joining_month promotion
0            1  132.68        15.30  ...           5-10           Nov        No
1            2  106.45        16.20  ...            0-1           Feb       Yes
2            3  123.16        25.26  ...            10+           Dec       Yes
3            4  130.60        24.74  ...            3-5           Apr        No
4            5  130.41        25.59  ...            3-5           Apr       Yes
5            6  127.46        21.45  ...            3-5           May       Yes
6            7  127.17        21.46  ...            3-5       Unknown        No
7            8  125.50        19.11  ...            3-5           Jul       Yes
8            9  106.80        16.01  ...            0-1           Feb       Yes
9           10  112.28        21.49  ...            0-1           May        No

[10 rows x 8 columns]

# Task 2 

The team at International Essentials have told you that they have always believed that the number of years in the loyalty scheme is the biggest driver of spend. 

Producing a table showing the difference in the average spend by number of years in the loyalty programme along with the variance to investigate this question for the team.

 - You should start with the data in the file 'loyalty.csv'.

 - Your output should be a data frame named `spend_by_years`. 

 - It should include the three columns `loyalty_years`, `avg_spend`, `var_spend`. 

 - Your answers should be rounded to 2 decimal places.

In [194]:
# Use this cell to write your code for Task 2
df = pd.read_csv('loyalty.csv')

# Calculate the average spend and variance by loyalty years
spend_by_years = df.groupby('loyalty_years')['spend'].agg(['mean', 'var']).reset_index()

# Rename the columns
spend_by_years.columns = ['loyalty_years', 'avg_spend', 'var_spend']
spend_by_years = spend_by_years.round(2)
spend_by_years

  loyalty_years  avg_spend  var_spend
0           0-1     110.56       9.30
1           1-3     129.31       9.65
2           10+     117.41      16.72
3           3-5     124.55      11.09
4          5-10     135.15      14.10

# Task 3

Fit a baseline model to predict the spend over the year for each customer.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “test.csv” to predict new values based on your model. You must return a dataframe named `base_result`, that includes `customer_id` and `spend`. The `spend` column must be your predicted values.

In [195]:
# Use this cell to write your code for Task 3

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

X_train = train_df.drop(columns=['customer_id', 'spend'])
y_train = train_df['spend']

# Define the preprocessing for categorical data
categorical_features = ['region', 'loyalty_years', 'joining_month', 'promotion']
categorical_transformer = OneHotEncoder(drop='first')

# Create a preprocessor for the pipeline
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, categorical_features)
    ],
    remainder='passthrough'
)

# Define the model pipeline
model_pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', LinearRegression())
])

# Fit the model
model_pipeline.fit(X_train, y_train)
X_test = test_df.drop(columns=['customer_id'])

predictions = model_pipeline.predict(X_test)

# Create the base_result DataFrame
base_result = pd.DataFrame({
    'customer_id': test_df['customer_id'],
    'spend': predictions
})
base_result['spend'] = base_result['spend'].round(2)
base_result

     customer_id   spend
0              5  140.70
1              7  148.73
2             16  140.81
3             17  150.65
4             19  153.63
..           ...     ...
245         1216  134.87
246         1225  148.54
247         1231  136.97
248         1242  129.89
249         1243  148.52

[250 rows x 2 columns]

# Task 4

Fit a comparison model to predict the spend over the year for each customer.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “test.csv” to predict new values based on your model. You must return a dataframe named `compare_result`, that includes `customer_id` and `spend`. The `spend` column must be your predicted values.

In [196]:
# Use this cell to write your code for Task 4
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

X_train = train_df.drop(columns=['customer_id', 'spend'])
y_train = train_df['spend']

# Define the preprocessing for categorical data
categorical_features = ['region', 'loyalty_years', 'joining_month', 'promotion']
categorical_transformer = OneHotEncoder(drop='first')

# Create a preprocessor for the pipeline
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, categorical_features)
    ],
    remainder='passthrough'
)

# Define the model pipeline using Random Forest Regressor
comparison_pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', RandomForestRegressor(random_state=42))
])

# Fit the model
comparison_pipeline.fit(X_train, y_train)
X_test = test_df.drop(columns=['customer_id'])

predictions = comparison_pipeline.predict(X_test)

# Create the compare_result DataFrame
compare_result = pd.DataFrame({
    'customer_id': test_df['customer_id'],
    'spend': predictions
})
compare_result['spend'] = compare_result['spend'].round(2)
compare_result

     customer_id   spend
0              5  140.56
1              7  148.78
2             16  141.04
3             17  150.83
4             19  153.63
..           ...     ...
245         1216  134.81
246         1225  148.53
247         1231  137.02
248         1242  129.72
249         1243  148.57

[250 rows x 2 columns]

In [197]:
# At least one of your two models must have a Root Mean Squared Error below 0.35 to pass.
from sklearn.metrics import mean_squared_error


# Fit the comparison model
comparison_pipeline.fit(X_train, y_train)
comparison_predictions = comparison_pipeline.predict(X_test)

# Calculate RMSE for both models
baseline_rmse = np.sqrt(mean_squared_error(y_train, baseline_pipeline.predict(X_train)))
comparison_rmse = np.sqrt(mean_squared_error(y_train, comparison_pipeline.predict(X_train)))
print(f"Baseline Model RMSE: {baseline_rmse:.4f}")
print(f"Comparison Model RMSE: {comparison_rmse:.4f}")

# Check if either model meets the criteria
if baseline_rmse < 0.35:
    print("Baseline model meets the RMSE criteria.")
if comparison_rmse < 0.35:
    print("Comparison model meets the RMSE criteria.")

Baseline Model RMSE: 0.3025
Comparison Model RMSE: 0.1601
Baseline model meets the RMSE criteria.
Comparison model meets the RMSE criteria.